argon2-cffi
async-generator
atari-py
attrs
backcall
bleach
certifi
cffi
chardet
cloudpickle
colorama
cycler
decorator
defusedxml
dill
entrypoints
future
gitdb
GitPython
gymnasium[atari, accept-rom-license]
idna
importlib-metadata
ipykernel
ipython
IPython
ipython-genutils
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
notebook
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
pyglet
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
smmap
terminado
testpath
threadpoolctl
tornado
traitlets
urllib3
wcwidth
webencodings
xelatex
zipp
